.search-results-heading {
    text-align: center;
}

.search-result {
    clear: both;
    padding: 10px;
    background-color: #fff;
    min-height: 200px;
    min-width: 200px;
    border: 1px solid rgb(240,240,240);
}

.search-result-image {
    height: 180px;
    width: 180px;
    /* float: left; */
    border-radius: 4px;
}
.search-result-image-container {
    float: left;
}
.search-result-image-container:hover {
    opacity: 0.8;
}
.search-result-description-container {
    float: left;
    width: 70%;
    padding-left: 20px;
}

.description {
    color: #aaa;
    font-size: 14px;
}
.skill-and-date {
    color: #aaa;
    font-size: 12px;
    margin-bottom: 5px;
}
.search-result-title {
    font-size: 22px;
}